<footer class="footer">
    <div class="container-footer">
        <div class="row">
            <div class="col-lg-12 install">
                <h4>Follow us</h4>
                <div class="icons d-flex justify-content-between align-items-center">
                    <a href="https://m.facebook.com/page">
                        <i class="uil uil-facebook"></i>
                    </a>
                    <a href="https://instagram.com/page">
                        <i class="uil uil-instagram"></i>
                    </a>
                    <a href="https://twitter.com/page">
                        <i class="uil uil-twitter-alt"></i>
                    </a>
                </div>
                <div>
                    <h6 style="text-align: center;">Thank you for visiting our website, and we hope you enjoy exploring our portrait collections. </h6>
                </div>
                <p>Secured Payment Getaway</p>
                <div class="payment">
                    <i class="uil uil-master-card"></i>
                    <i class="uil uil-paypal"></i>
                    <i class="uil uil-transaction"></i>
                    <i class="uil uil-bill"></i>
                    <i class="uil uil-credit-card-search"></i>
                    <i class="uil uil-university"></i>
                </div>
                <div>
                    <h6 style="text-align: center;">We value your feedback and strive to provide excellent customer service. <br>That's why we've included our contact information,<br> allowing you to reach out to us with any queries or concerns. <br>Whether it's through phone or email, we're here to assist you. </h6>
                </div>
                <a style="text-align: center; text-decoration: none;" href="/contact">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="copyright">
            <p class="copy">&copy;<span id="year">Po Trait</span></p>
            </a>
        </div>
    </div>
    <button class="back-to-top hidden">
        <i class="uil uil-angle-up"></i>
    </button>

</footer>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="javascripts/script.js"></script>
</body>

</html>