<%-include('../partials/user_header')%>

<main class="wrapper">
    <section class="carousel">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="images/user/slider/p1.jpg" class="d-block w-100" alt="Dhurat&euml; q&euml; ja Vlen!">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <!-- <h5>ORA - Exclusive distributor for Kosovo.</h5> -->
                        <!-- <p></p> -->
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="images/user//slider/p2.jpg" class="d-block w-100" alt="Citizen">
                    <div class="carousel-caption d-none d-md-block">
                        <!-- <h5>ORA - Exclusive distributor for Kosovo.</h5> -->
                        <!-- <p></p> -->                            
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/user//slider/p3.jpg" class="d-block w-100" alt="Jacques Lemans">
                    <div class="carousel-caption d-none d-md-block">
                        <!-- <h5>ORA - Exclusive distributor for Kosovo.</h5> -->
                        <!-- <p></p> -->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/user//slider/p4.jpg" class="d-block w-100" alt="Quantum">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <!-- <h5>ORA - Exclusive distributor for Kosovo.</h5> -->
                        <!-- <p></p> -->
                    </div>
                </div>
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!-- wrapper&carousel-end ./ -->
    <main class="wrapper">
        
        <!-- hero  -->
        <section class="hero">
        <div class="container-fluid" style="background-color: rgba(231, 230, 230, 0.281);">
            <div class="row">
                <h2 style="color: rgba(0, 0, 0, 0.493);" class="copy">&copy;<span id="year">Po Trait</span></h2>
                <p style="color: rgba(0, 0, 0, 0.438);">
                    Discover timeless portraits at Potrait, 
                    <br>
                    where art comes alive. Browse our handpicked collection of captivating artwork,
                    <br>
                    meticulously crafted by talented artists from around the world.
                    <br>
                    From classic to contemporary, find the perfect piece to elevate your space with elegance.
                    <br>
                    Each portrait is created with utmost care using top-quality materials, ensuring lasting beauty. 
                    <br>
                    Experience the transformative power of portraiture and express yourself with Potrait.</p>
            </div>
        </div>
    </section>
    <!-- hero ./ -->
    
        </section>
    </main>
    <%-include('../partials/user_footer')%>