<%-include('../partials/user_header')%>

<main class="wrapper">
    <section class="carousel">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="images/user/slider/1.jpg" class="d-block w-100" alt="Dhurat&euml; q&euml; ja Vlen!">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>ORA - Exclusive distributor for Kosovo.</h5>
                        <!-- <p></p> -->
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="images/user//slider/2.jpg" class="d-block w-100" alt="Citizen">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ORA - Exclusive distributor for Kosovo.</h5>
                        <!-- <p></p> -->                            
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/user//slider/3.jpg" class="d-block w-100" alt="Jacques Lemans">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ORA - Exclusive distributor for Kosovo.</h5>
                        <!-- <p></p> -->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/user//slider/4.jpg" class="d-block w-100" alt="Quantum">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>ORA - Exclusive distributor for Kosovo.</h5>
                        <!-- <p></p> -->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/user//slider/5.jpg" class="d-block w-100" alt="Pierre Cardin">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>ORA - Exclusive distributor for Kosovo.</h5>
                        <!-- <p></p> -->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/user//slider/6.jpg" class="d-block w-100" alt="Lee Coper">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>ORA - Exclusive distributor for Kosovo.</h5>
                        <!-- <p></p> -->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/user//slider/7.jpg" class="d-block w-100" alt="Roamer">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>ORA - Exclusive distributor for Kosovo.</h5>
                        <!-- <p></p> -->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/user//slider/8.jpg" class="d-block w-100" alt="Riparim dhe Servisim Profesional | Ora-Ks.com">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <h5>ORA - Exclusive distributor for Kosovo.</h5>
                        <!-- <p></p> -->
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!-- wrapper&carousel-end ./ -->
    <main class="wrapper">
        
        <!-- hero  -->
        <section class="hero">
          <div class="container-fluid">
              <div class="row">
                  <h2>About us</h2>
                  <p>Save more with coupons &amp; up to 70% off!</p>
              </div>
          </div>
      </section>
      <!-- hero ./ -->
          
        </section>
    </main>
    <%-include('../partials/user_footer')%>