<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-account-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="admin_assets/assets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link
      href="admin_assets/assets/css/main.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <main>
      <%-include('../partials/user_header')%>

      <section class="content-main mt-15 mb-80">
        <div class="card mx-auto card-login">
          <div class="card-body">
            <h4 class="card-title mb-2">Sign in</h4>
            <form
              id="login-form"
              action="/login"
              method="post"
              onsubmit="return validateForm()"
            >
              <div class="mb-3">
                <input
                  class="form-control"
                  name="Email"
                  placeholder="email"
                  type="text"
                />
              </div>
              <!-- form-group// -->
              <div class="mb-3">
                <input
                  class="form-control"
                  name="Password"
                  placeholder="Password"
                  type="password"
                />
              </div>
              <!-- form-group// -->
              <div class="mb-3">
                <a href="#" class="float-end font-sm text-muted"
                  >Forgot password?</a
                >
                <label class="form-check">
                  <input type="checkbox" class="form-check-input" checked="" />
                  <span class="form-check-label">Remember</span>
                </label>
              </div>
              <!-- form-group form-check .// -->
              <div class="mb-2">
                <button type="submit" class="btn btn-primary w-100">
                  LOGIN
                </button>
              </div>
              <!-- form-group// -->
            </form>
            <div class="mb-2">
              <a href="/otp">
                <button class="btn btn-secondary w-100 mt-15">OTP LOGIN</button>
              </a>
            </div>
            <p class="text-center small text-muted mb-15">or sign up with</p>
            <div class="d-grid gap-3 mb-2">
              <a href="#" class="btn w-100 btn-light font-sm">
                <svg
                  aria-hidden="true"
                  class="icon-svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 002.38-5.88c0-.57-.05-.66-.15-1.18z"
                    fill="#4285F4"
                  ></path>
                  <path
                    d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 01-7.18-2.54H1.83v2.07A8 8 0 008.98 17z"
                    fill="#34A853"
                  ></path>
                  <path
                    d="M4.5 10.52a4.8 4.8 0 010-3.04V5.41H1.83a8 8 0 000 7.18l2.67-2.07z"
                    fill="#FBBC05"
                  ></path>
                  <path
                    d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 001.83 5.4L4.5 7.49a4.77 4.77 0 014.48-3.3z"
                    fill="#EA4335"
                  ></path>
                </svg>
                Sign in using Google
              </a>
            </div>
            <p class="text-center mb-4">
              Don't have account? <a href="/signup">Sign up</a>
            </p>
          </div>
        </div>
      </section>
    </main>
    <script>
      function validateForm() {
        var email = document.forms["login-form"]["Email"].value;
        var password = document.forms["login-form"]["Password"].value;
        if (email == "" || password == "") {
          alert("Please fill out both email and password fields.");
          return false;
        }
      }
    </script>

    <script src="admin_assets/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="admin_assets/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="admin_assets/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script
      src="admin_assets/assets/js/main.js"
      type="text/javascript"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="javascripts/script.js"></script>
  </body>

  <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-account-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->
</html>
